<div class="panel is-info">
  <h2 class="panel-heading">
    Licence Details
  </h2>
  <div class="panel-block is-block">
    <div class="columns">
      <div class="column">
        <p>
          <strong>Organization</strong><br />
          <a class="has-tooltip-right <%= (organization.isEligibleForLicences ? "" : " has-text-danger") %>" data-tooltip="View Organization" href="<%= urlPrefix %>/organizations/<%= organization.organizationID %>">
            <%= organization.organizationName %>
          </a>
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p>
          <strong>Location</strong><br />
          <% if (licence.locationID) { %>
            <a class="has-tooltip-right" data-tooltip="View Location" href="<%= urlPrefix %>/locations/<%= licence.locationID %>">
              <%= licence.locationDisplayName %>
            </a>
          <% } else { %>
            <span class="has-text-grey">(No Location Set)</span>
          <% } %>
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p>
          <strong>Start Date</strong><br />
          <%= licence.startDateString %>
        </p>
      </div>
      <div class="column">
        <p>
          <strong>End Date</strong><br />
          <%= licence.endDateString %>
        </p>
      </div>
      <div class="column">
        <p>
          <strong>Time</strong><br />
          <%= (licence.startTimeString === licence.endTimeString ? "At " : "From ") %>
          <%= licence.startTimeString %>
          <%= (licence.startTimeString === licence.endTimeString ? "" : " to " + licence.endTimeString) %>
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p>
          <strong>Licence Details</strong><br />
          <span class="has-newline-chars"><%= licence.licenceDetails %></span>
        </p>
      </div>

    </div>
    <div class="columns">
      <div class="column">
        <%
          const licenceType = configFns.getLicenceType(licence.licenceTypeKey);
        %>
        <p>
          <strong>Licence Type</strong><br />
          <%= (licenceType ? licenceType.licenceType : licence.licenceTypeKey) %>
        </p>
      </div>
      <div class="column">
        <p>
          <strong>Total Prize Value</strong><br />
          $<%= (licence.totalPrizeValue || 0).toFixed(2) %>
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p>
          <strong>Licence Fee</strong><br />
          $<%= licence.licenceFee.toFixed(2) %>
        </p>
      </div>
      <div class="column">
        <p>
          <strong>Number of Events</strong><br />
          <%= licence.events.length %>
        </p>
      </div>
    </div>
  </div>
</div>
