</main>
<footer class="footer has-background-grey-lighter has-text-dark is-hidden-print">
  <div class="container">
    <div class="content has-text-right">
      <p class="has-text-grey-dark">
        <strong>
          <%= configFunctions.getProperty("application.applicationName") %>
        </strong><br />
        Build <%= buildNumber %>
      </p>
    </div>
  </div>
</footer>
<script>
  window.exports = window.exports || {};
</script>
<script src="<%= urlPrefix %>/lib/cityssm-bulma-webapp-js/dist/cityssm.min.js"></script>
<script src="<%= urlPrefix %>/lib/date-diff/date-diff.min.js"></script>
<script>
  cityssm.htmlModalFolder ="<%= urlPrefix %>/html/";
</script>
<script src="<%= urlPrefix %>/javascripts/main.min.js"></script>
<script src="<%= urlPrefix %>/lib/cityssm-bulma-webapp-js/dist/cityssm-theme.min.js" defer></script>
