<!DOCTYPE html>
<html>

<head>
  <title>
    <%= headTitle %>: <%= configFns.getProperty("application.applicationName") %>
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/images/favicon.png" />

  <link rel="stylesheet" href="/stylesheets/style.min.css" />
  <link rel="stylesheet" href="/fa/css/all.min.css" />
</head>

<body>
  <div class="has-min-page-height">
    <nav class="navbar is-light has-margin-bottom-20" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/dashboard">
            <img class="has-margin-right-10" src="<%= configFns.getProperty("application.logoURL") %>" alt="" height="28" />
            <strong><%= configFns.getProperty("application.applicationName") %></strong>
          </a>

          <a class="navbar-burger burger" id="navbar-burger--main" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" id="navbar-menu--main">
          <div class="navbar-start">

            <a class="navbar-item" href="/organizations">
              <span class="icon has-margin-right-5">
                <i class="fas fa-fw fa-users" aria-hidden="true"></i>
              </span>
              <span>Organizations</span>
            </a>

            <a class="navbar-item" href="/licences">
              <span class="icon has-margin-right-5">
                <i class="fas fa-fw fa-certificate" aria-hidden="true"></i>
              </span>
              <span>Licences</span>
            </a>

            <a class="navbar-item" href="/events">
              <span class="icon has-margin-right-5">
                <i class="fas fa-fw fa-calendar" aria-hidden="true"></i>
              </span>
              <span>Events</span>
            </a>

            <a class="navbar-item" href="/reports">
              <span class="icon has-margin-right-5">
                <i class="fas fa-fw fa-file" aria-hidden="true"></i>
              </span>
              <span>Reports</span>
            </a>
          </div>

          <div class="navbar-end">
            <a class="navbar-item is-logout-button" role="button" href="#">
              <span class="icon has-margin-right-5">
                <i class="fas fa-fw fa-sign-out-alt" aria-hidden="true"></i>
              </span>
              <span>Log Out <%=user.userName %></span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <main class="container has-padding-left-15 has-padding-right-15 has-margin-auto" data-can-create="<%= user.userProperties.canCreate %>" data-can-update="<%= user.userProperties.canUpdate %>">
