<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    <%= headTitle %>: <%= configFunctions.getProperty("application.applicationName") %>
  </title>

  <link rel="icon" href="<%= urlPrefix %>/images/favicon.png" />

  <link rel="stylesheet" href="<%= urlPrefix %>/stylesheets/style.min.css" />
  <link rel="stylesheet" href="<%= urlPrefix %>/lib/fa/css/all.min.css" />
</head>

<body>
  <main class="container px-2">
