<div class="panel">
  <div class="panel-heading">
    <div class="level">
      <div class="level-left">
        <h2 class="has-text-weight-bold">Amendments</h2>
      </div>
      <div class="level-right has-text-weight-normal has-text-right">
        <a class="button is-small" data-tooltip="Export Amendments" href="/reports/amendments-byLicence?licenceID=<%= licence.licenceID %>" target="_blank" download>
          <i class="fas fa-file-download" aria-hidden="true"></i>
          <span class="sr-only">Export</span>
        </a>
      </div>
    </div>
  </div>
  <%
    for (let amendmentIndex = licence.licenceAmendments.length - 1; amendmentIndex >= 0; amendmentIndex -= 1) {
      const amendmentObj = licence.licenceAmendments[amendmentIndex];
  %>
  <div class="panel-block is-block is-size-7">
    <p>
      <strong><%= amendmentObj.amendmentType %></strong><br />
      <span class="has-newline-chars"><%= amendmentObj.amendment %></span>
    </p>
    <p class="has-text-right is-italic">
      <%= amendmentObj.amendmentDateString %> <%= amendmentObj.amendmentTimeString %>
    </p>
  </div>
  <%
    }
  %>
</div>
