<div class="panel">
  <div class="panel-heading">
    <div class="level">
      <div class="level-left">
        <h2 class="has-text-weight-bold">Bank Records</h2>
      </div>
      <div class="level-right has-text-weight-normal is-hidden-print">
        <div class="field is-grouped justify-flex-end">
          <% if (user.userProperties.canCreate) { %>
            <div class="control">
              <button class="button is-small is-primary is-hidden-status-view" id="is-add-bank-record-button" type="button">
                <span class="icon">
                  <i class="fas fa-plus" aria-hidden="true"></i>
                </span>
                <span>Add a Bank Record</span>
              </button>
            </div>
          <% } %>
          <div class="control">
            <a class="button is-small" href="/reports/bankRecords-byOrganization?organizationID=<%= organization.organizationID %>" target="_blank" download>
              <span class="icon is-small">
                <i class="fas fa-file-download" aria-hidden="true"></i>
              </span>
              <span>Export Bank Records</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block is-block">
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label" for="bankRecordFilter--accountNumber">Account Number</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select id="bankRecordFilter--accountNumber">
                <option value="">(None Selected)</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label" for="bankRecordFilter--bankingYear">Banking Year</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select id="bankRecordFilter--bankingYear">
                <%
                const currentYear = new Date().getFullYear();
                %>
                <option value="<%= currentYear %>"><%= currentYear %></option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table is-fullwidth is-striped is-hoverable is-fixed has-status-loading" id="table--bankRecords" data-organization-id="<%= organization.organizationID %>">
    <thead>
      <tr>
        <th>Month</th>
        <%
        const bankRecordTypes = configFns.getProperty("bankRecordTypes");
        for (let recordTypeIndex = 0; recordTypeIndex < bankRecordTypes.length; recordTypeIndex += 1) {
          %>
          <th class="has-text-centered">
            <%= bankRecordTypes[recordTypeIndex].bankRecordTypeName %>
          </th>
          <%
        }
        %>
      </tr>
    </thead>
    <tbody>
      <% for (let monthIndex = 0; monthIndex <= 11; monthIndex += 1) { %>
        <tr data-banking-month="<%= (monthIndex + 1) %>">
          <th scope="row"><%= dateTimeFns.months[monthIndex] %></th>
          <% for (let recordTypeIndex = 0; recordTypeIndex < bankRecordTypes.length; recordTypeIndex += 1) { %>
            <td class="has-text-centered">
              <div class="is-hidden-status-loaded has-padding-10">
                <span class="icon">
                  <i class="fas fa-circle-notch fa-spin has-text-grey-lighter" aria-hidden="true"></i>
                </span><br />
                ...
              </div>
              <div class="is-hidden-status-loading">
                <button class="button is-light is-fullwidth is-block has-height-auto is-noninteractive-status-view" data-bank-record-type="<%= bankRecordTypes[recordTypeIndex].bankRecordType %>" type="button">
                </button>
              </div>
            </td>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
