<div class="columns has-margin-top-20">
  <div class="column">
    <h2 class="title is-3">Lottery Licences</h2>
  </div>
  <% if (user.userProperties.canCreate === "true") { %>
    <div class="column is-narrow has-text-right">
      <a class="button is-primary is-small" href="/licences/new/<%= organization.OrganizationID %>">
        <span class="icon is-small">
          <i class="fas fa-certificate" aria-hidden="true"></i>
        </span>
        <span>Create a New Licence</span>
      </a>
    </div>
  <% } %>
</div>

<%
  let licenceTheadHTML = "<tr>" +
    "<th>" + configFns.getProperty("licences.externalLicenceNumber.fieldLabel") + "</th>" +
    "<th>Licence Type</th>" +
    "<th>Event Details</th>" +
    "<th>From</th>" +
    "<th>To</th>" +
    "<th><span class=\"sr-only\">Options</span></th>" +
    "</tr>";

  let rows_active = "";
  let rows_past = "";

  const licenceTypes = configFns.getProperty("licenceTypes");

  for (let licenceIndex = 0; licenceIndex < licences.length; licenceIndex += 1) {

    const licence = licences[licenceIndex];

    let licenceType = {};
    for (let typeIndex = 0; typeIndex < licenceTypes.length; typeIndex += 1) {
      if (licenceTypes[typeIndex].licenceTypeKey === licence.LicenceTypeKey) {
        licenceType = licenceTypes[typeIndex];
        break;
      }
    }

    let canEdit = false;

    if (user.userProperties.canUpdate == "true") {
      canEdit = true;

    } else if (user.userProperties.canCreate == "true") {

      if (licence.RecordCreate_UserName === user.userName &&
        licence.RecordUpdate_UserName === user.userName &&
        licence.RecordUpdate_TimeMillis + configFns.getProperty("user.createUpdateWindowMillis") > Date.now()) {

        canEdit = true;
      }
    }

    let rowHTML = "<tr>" +
      "<td>" +
        "<a href=\"/licences/" + licence.LicenceID + "\">" +
        stringFns.escapeHTML(licence.ExternalLicenceNumber) + "<br />" +
        "<small>Licence #" + licence.LicenceID + "</small>" +
        "</a>" +
        "</td>" +
      "<td>" + (licenceType.licenceType || licence.LicenceTypeKey) + "</td>" +
      "<td>" + stringFns.escapeHTML(licence.LicenceDetails) + "</td>" +
      "<td>" + licence.StartDateString + "</td>" +
      "<td>" + licence.EndDateString + "</td>" +
      "<td class=\"has-text-right\">" +
        (canEdit ?
          "<a class=\"button is-small\" href=\"/licences/" + licence.LicenceID + "/edit\" data-tooltip=\"Edit Licence\"><span class=\"icon\"><i class=\"fas fa-pencil-alt\" aria-hidden=\"true\"></i></span><span>Edit</span></a> " :
          "") +
        (licence.LicenceFeeIsPaid ?
          "<a class=\"button is-small\" href=\"/licences/" + licence.LicenceID + "/print\" data-tooltip=\"Print Licence\" target=\"_blank\">" +
          "<i class=\"fas fa-print\" aria-hidden=\"true\"></i>" +
          "<span class=\"sr-only\">Print Licence</span>" +
          "</a>" :
          "<span class=\"tag is-warning\">Unpaid</span>") +

        "</td>" +
      "</tr>";

    if (licence.EndDate < currentDateInteger) {
      rows_past += rowHTML;
    } else {
      rows_active += rowHTML;
    }
  }
%>

<div class="tabs" id="tabs--licences">
  <ul>
    <li class="is-active"><a href="#tab--licences-active">Active Licences</a></li>
    <li><a href="#tab--licences-past">Past Licences</a></li>
  </ul>
</div>

<div class="tab-container">
  <div class="tab-content is-active" id="tab--licences-active">
    <% if (rows_active === "") { %>
      <div class="message is-info">
        <div class="message-body">
          <%= organization.OrganizationName %> has no active licences.
        </div>
      </div>
    <% } else { %>
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <%- licenceTheadHTML %>
        </thead>
        <tbody><%- rows_active %></tbody>
      </table>
    <% } %>
  </div>
  <div class="tab-content" id="tab--licences-past">
    <% if (rows_past === "") { %>
      <div class="message is-info">
        <div class="message-body">
          <%= organization.OrganizationName %> has no past licences.
        </div>
      </div>
    <% } else { %>
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <%- licenceTheadHTML %>
        </thead>
        <tbody><%- rows_past %></tbody>
      </table>
    <% } %>
  </div>
</div>
