<div class="column is-3 is-hidden-print has-background-white-bis" id="cityssm-theme--sidemenu-expanded">
  <aside class="menu">
    <p class="menu-label">
      Events
    </p>
    <ul class="menu-list">
      <li>
        <a class="<%= (headTitle === "Lottery Events" ? "is-active" : "") %>" href="<%= urlPrefix %>/events">
          <span class="icon">
            <i class="fas fa-calendar" aria-hidden="true"></i>
          </span>
          Lottery Event Search
        </a>
      </li>
      <li>
        <a class="<%= (headTitle === "Events By Week" ? "is-active" : "") %>" href="<%= urlPrefix %>/events/byWeek">
          <span class="icon">
            <i class="fas fa-calendar-week" aria-hidden="true"></i>
          </span>
          Lottery Events By Week
        </a>
      </li>
    </ul>
    <p class="menu-label">
      Reports
    </p>
    <ul class="menu-list">
      <li>
        <a class="<%= (headTitle === "Recently Updated Events" ? "is-active" : "") %>" href="<%= urlPrefix %>/events/recent">
          <span class="icon">
            <i class="fas fa-scroll" aria-hidden="true"></i>
          </span>
          Recently Updated Events
        </a>
      </li>
      <li>
        <a class="<%= (headTitle === "Outstanding Events" ? "is-active" : "") %>" href="<%= urlPrefix %>/events/outstanding">
          <span class="icon">
            <i class="fas fa-file" aria-hidden="true"></i>
          </span>
          Outstanding Events
        </a>
      </li>
      <li>
        <a class="<%= (headTitle === "Financial Summary" ? "is-active" : "") %>" href="<%= urlPrefix %>/events/financials">
          <span class="icon">
            <i class="fas fa-file" aria-hidden="true"></i>
          </span>
          Event Financial Summary
        </a>
      </li>
    </ul>
    <p class="menu-label">
      Help
    </p>
    <ul class="menu-list">
      <li>
        <a href="https://cityssm.github.io/lottery-licence-manager/events" target="_blank" rel="noopener noreferrer">
          <span class="icon">
            <i class="fas fa-question-circle" aria-hidden="true"></i>
          </span>
          Lottery Event Documentation
        </a>
      </li>
    </ul>
  </aside>
  <button class="button is-light is-fullwidth mt-4" id="cityssm-theme--sidemenu-collapse-button">
    <span class="icon is-small"><i class="fas fa-angle-double-left" aria-hidden="true"></i></span>
    <span>Hide Side Menu</span>
  </button>
</div>
<div class="column is-narrow is-hidden-print is-hidden" id="cityssm-theme--sidemenu-collapsed">
  <button class="button is-light has-tooltip-right" id="cityssm-theme--sidemenu-expand-button" data-tooltip="Expand Side Menu">
    <i class="fas fa-angle-double-right" aria-hidden="true"></i>
    <span class="sr-only">Expand Side Menu</span>
  </button>
</div>
