<div class="column is-3 is-hidden-print has-background-white-bis" id="cityssm-theme--sidemenu-expanded">
  <aside class="menu">
    <p class="menu-label">
      Lottery Licences
    </p>
    <ul class="menu-list">
      <li>
        <a class="<%= (headTitle === "Lottery Licences" ? "is-active" : "") %>" href="<%= urlPrefix %>/licences">
          <span class="icon">
            <i class="fas fa-certificate" aria-hidden="true"></i>
          </span>
          Lottery Licence Search
        </a>
      </li>
      <% if (user.userProperties.canCreate) { %>
        <li>
          <a class="<%= (headTitle === "Licence Create" ? "is-active" : "") %>" href="<%= urlPrefix %>/licences/new">
            <span class="icon">
              <i class="fas fa-plus" aria-hidden="true"></i>
            </span>
            Create a New Lottery Licence
          </a>
        </li>
      <% } %>
    </ul>
    <p class="menu-label">
      Reports
    </p>
    <ul class="menu-list">
      <li>
        <a class="<%= (headTitle === "Licence Type Summary" ? "is-active" : "") %>" href="<%= urlPrefix %>/licences/licenceTypes">
          <span class="icon">
            <i class="fas fa-file" aria-hidden="true"></i>
          </span>
          Licence Type Summary
        </a>
      </li>
      <li>
        <a class="<%= (headTitle === "Active Licence Summary" ? "is-active" : "") %>" href="<%= urlPrefix %>/licences/activeSummary">
          <span class="icon">
            <i class="fas fa-file" aria-hidden="true"></i>
          </span>
          Active Licence Summary
        </a>
      </li>
    </ul>
    <p class="menu-label">
      Help
    </p>
    <ul class="menu-list">
      <li>
        <a href="https://cityssm.github.io/lottery-licence-manager/licences" target="_blank" rel="noopener noreferrer">
          <span class="icon">
            <i class="fas fa-question-circle" aria-hidden="true"></i>
          </span>
          Lottery Licence Documentation
        </a>
      </li>
    </ul>
  </aside>
  <button class="button is-light is-fullwidth mt-4" id="cityssm-theme--sidemenu-collapse-button">
    <span class="icon is-small"><i class="fas fa-angle-double-left" aria-hidden="true"></i></span>
    <span>Hide Side Menu</span>
  </button>
</div>
<div class="column is-narrow is-hidden-print is-hidden" id="cityssm-theme--sidemenu-collapsed">
  <button class="button is-light has-tooltip-right" id="cityssm-theme--sidemenu-expand-button" data-tooltip="Expand Side Menu">
    <i class="fas fa-angle-double-right" aria-hidden="true"></i>
    <span class="sr-only">Expand Side Menu</span>
  </button>
</div>
