<%- include('_header'); -%>

<div class="columns">
  <div class="column">
    <h1 class="title is-1">
      <%= configFns.getProperty("application.applicationName") %>
    </h1>
  </div>
  <div class="column is-narrow has-text-right">
    <button class="button is-change-password-button" type="button">
      <span class="icon"><i class="fas fa-key" aria-hidden="true"></i></span>
      <span>Change Password</span>
    </button>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-3x fa-fw fa-users"></i>
          </div>
          <div class="media-content has-text-black">
            <h2 class="title is-3">
              <a href="/organizations">Organizations</a>
            </h2>
            View and maintain organizations that hold lottery licences.
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a class="card-footer-item" href="/organizations">
          <span class="icon">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
          Find</a>
        <% if (user.userProperties.canCreate === "true") { %>
          <a class="card-footer-item" href="/organizations/new">
            <span class="icon">
              <i class="fas fa-plus" aria-hidden="true"></i>
            </span>
            Create
          </a>
        <% } %>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-3x fa-fw fa-certificate"></i>
          </div>
          <div class="media-content has-text-black">
            <h2 class="title is-3 is-marginless">
              <a href="/licences">Lottery Licences</a>
            </h2>
            <p>View and maintain lottery licences.</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a class="card-footer-item" href="/licences">
          <span class="icon">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
          Find</a>
        <% if (user.userProperties.canCreate === "true") { %>
          <a class="card-footer-item" href="/licences/new">
            <span class="icon">
              <i class="fas fa-plus" aria-hidden="true"></i>
            </span>
            Create
          </a>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-3x fa-fw fa-calendar"></i>
          </div>
          <div class="media-content has-text-black">
            <h2 class="title is-3 is-marginless">
              <a href="/events">Lottery Events</a>
            </h2>
            <p>View and update events.</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a class="card-footer-item" href="/events">
          <span class="icon">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
          Find
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-3x fa-fw fa-file"></i>
          </div>
          <div class="media-content has-text-black">
            <h2 class="title is-3 is-marginless">
              <a href="/reports">Report Library</a>
            </h2>
            <p>Produce reports and export data.</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a class="card-footer-item" href="/reports">
          <span class="icon">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
          Find
        </a>
      </div>
    </div>
  </div>
</div>

<% if (user.userProperties.isAdmin === "true") { %>
  <h2 class="title is-2">Administrator Tools</h2>

  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <i class="fas fa-3x fa-fw fa-cogs"></i>
            </div>
            <div class="media-content has-text-black">
              <h2 class="title is-3 is-marginless">
                <a href="/admin/applicationSettings">Application Settings</a>
              </h2>
              <p>Settings that affect the <%= configFns.getProperty("application.applicationName") %> application.</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a class="card-footer-item" href="/admin/applicationSettings">
            <span class="icon">
              <i class="fas fa-cog" aria-hidden="true"></i>
            </span>
            Adjust Settings
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <i class="fas fa-3x fa-fw fa-user-cog"></i>
            </div>
            <div class="media-content has-text-black">
              <h2 class="title is-3 is-marginless">
                <a href="/admin/userManagement">User Management</a>
              </h2>
              <p>Add users.  Remove users.  Grant permissions.</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a class="card-footer-item" href="/admin/userManagement">
            <span class="icon">
              <i class="fas fa-cog" aria-hidden="true"></i>
            </span>
            Maintain Users
          </a>
        </div>
      </div>
    </div>
  </div>
<% } %>

<div class="modal is-change-password-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h3 class="modal-card-title">Change Password for <em><%= user.userName %></em></h3>
      <button class="delete is-cancel-button" aria-label="close" type="button"></button>
    </header>
    <form>
      <section class="modal-card-body">
        <div class="field">
          <label class="label" for="changePassword--oldPassword">Current Password</label>
          <div class="control">
            <input class="input" id="changePassword--oldPassword" name="oldPassword" type="password" autocomplete="current-password" required />
          </div>
        </div>
        <div class="field">
          <label class="label" for="changePassword--newPassword">New Password</label>
          <div class="control">
            <input class="input" id="changePassword--newPassword" name="newPassword" type="password" autocomplete="new-password" minlength="8" required />
          </div>
        </div>
        <div class="field">
          <label class="label" for="changePassword--newPasswordConfirm">Confirm New Password</label>
          <div class="control">
            <input class="input" id="changePassword--newPasswordConfirm" type="password" autocomplete="new-password" required />
          </div>
        </div>
      </section>
      <footer class="modal-card-foot justify-right">
        <button class="button is-cancel-button" type="button">Cancel</button>
        <button class="button is-primary" type="submit">Update Password</button>
      </footer>
    </form>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="/javascripts/dashboard.min.js"></script>

<%- include('_footerB'); -%>
