<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <%- include("_sideMenu-events"); -%>
  <div class="column is-block-print is-full-print">

    <div class="columns">
      <div class="column">
        <nav class="breadcrumb">
          <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li>
              <a href="/licences/<%= event.licenceID %>">
                <% if (configFns.getProperty("licences.externalLicenceNumber.isPreferredID")) { %>
                  Licence <%= licence.externalLicenceNumber %>
                <% } else { %>
                  Licence #<%= event.licenceID %>
                <% } %>
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">
                Event <%= event.eventDateString %>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <%
        let hasOtherEvents = false;

        let costs_receipts_otherSum = 0;
        let costs_admin_otherSum = 0;
        let costs_prizesAwarded_otherSum = 0;
        let costs_netProceeds_otherSum = 0;
        let costs_amountDonated_otherSum = 0;

        if (licence.events.length > 1) {

          hasOtherEvents = true;

      %>
      <div class="column is-narrow is-hidden-print">
        <div class="field is-grouped align-items-center justify-flex-end">
          <div class="field has-addons has-margin-left-20">
            <div class="control">
              <label class="button is-small is-static" for="eventNav--eventDate">Switch Dates</label>
            </div>
            <div class="control has-icons-left">
              <div class="select is-small">
                <select id="eventNav--eventDate" data-licence-id="<%= licence.licenceID %>" data-is-edit="false">
                  <%
                      for (let index = 0; index < licence.events.length; index += 1) {

                        const otherEventObj = licence.events[index];

                        if (event.eventDateString !== otherEventObj.eventDateString) {

                          costs_receipts_otherSum += (otherEventObj.costs_receipts || 0);
                          costs_admin_otherSum += (otherEventObj.costs_admin || 0);
                          costs_prizesAwarded_otherSum += (otherEventObj.costs_prizesAwarded || 0);
                          costs_netProceeds_otherSum   += (otherEventObj.costs_netProceeds || 0);
                          costs_amountDonated_otherSum += (otherEventObj.costs_amountDonated || 0);
                        }

                    %>
                  <option value="<%= otherEventObj.eventDate %>" <%=(event.eventDate===otherEventObj.eventDate ? " selected" : "" ) %>>
                    <%= otherEventObj.eventDateString %>
                  </option>
                  <%
                      }
                    %>
                </select>
              </div>
              <div class="icon is-left">
                <i class="fas fa-calendar" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%
        }
      %>
    </div>

    <div class="columns">
      <div class="column is-5">
        <h1 class="title is-1">
          <a class="has-tooltip-right" data-tooltip="View Licence" href="/licences/<%= event.licenceID %>">
            <% if (configFns.getProperty("licences.externalLicenceNumber.isPreferredID")) { %>
              Licence <%= licence.externalLicenceNumber %>
            <% } else { %>
              Licence #<%= event.licenceID %>
            <% } %>
          </a>
        </h1>
      </div>
      <div class="column">
        <h1 class="title is-1">
          Event <%= event.eventDateString %>
        </h1>
      </div>
    </div>

    <% if (event.canUpdate) { %>
      <div class="fixed-container is-fixed-bottom-right has-margin-20 has-text-right is-hidden-print">
        <a class="button is-circle is-primary has-tooltip-left" data-tooltip="Edit this Event" href="/events/<%= licence.licenceID %>/<%= event.eventDate %>/edit">
          <i class="fas fa-pencil-alt" aria-hidden="true"></i>
          <span class="sr-only">Edit this Event</span>
        </a>
      </div>
    <% } %>

    <div class="columns is-desktop">
      <div class="column is-5-desktop">
        <%- include('_event-view_edit-snapshot'); -%>
      </div>
      <div class="column">
        <div class="panel">
          <h2 class="panel-heading">Event Reporting</h2>
          <div class="panel-block">
            <p>
              <strong>Report Date</strong><br />
              <%= event.reportDateString %>
            </p>
          </div>
        </div>
        <div class="panel">
          <h2 class="panel-heading">Bank Information</h2>
          <div class="panel-block">
            <p>
              <strong>Name</strong><br />
              <%= event.bank_name %>
            </p>
          </div>
          <div class="panel-block">
            <p>
              <strong>Address</strong><br />
              <%= event.bank_address %>
            </p>
          </div>
          <div class="panel-block is-block">
            <div class="columns">
              <div class="column">
                <p>
                  <strong>Account Number</strong><br />
                  <%= event.bank_accountNumber %>
                </p>
              </div>
              <div class="column">
                <p>
                  <strong>Account Balance</strong><br />
                  <%= (event.bank_accountBalance ? "$ " + event.bank_accountBalance.toFixed(2) : "") %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <h2 class="panel-heading">Cost Breakdown</h2>
          <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
              <tr>
                <th colspan="2"></th>
                <th class="has-text-right is-vcentered">
                  <%= event.eventDateString %><br />
                  Event
                </th>
                <th class="is-vcentered"><i class="fas fa-plus" aria-hidden="true"></i></th>
                <th class="has-text-right is-vcentered">
                  Other
                  <%= licence.events.length - 1 %>
                  <%= licence.events.length === 2 ? "Event" : "Events" %>
                </th>
                <th class="is-vcentered"><i class="fas fa-equals" aria-hidden="true"></i></th>
                <th class="has-text-right is-vcentered">
                  Licence<br />
                  Total
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="2">Receipts</th>
                <td class="has-text-right">
                  $<%= (event.costs_receipts || 0).toFixed(2) %>
                </td>
                <td class="has-text-grey-lighter"><i class="fas fa-plus" aria-hidden="true"></i></td>
                <td class="has-text-right">
                  $<%= costs_receipts_otherSum.toFixed(2) %>
                </td>
                <td class="has-text-grey-lighter"><i class="fas fa-equals" aria-hidden="true"></i></td>
                <td class="has-text-right">
                  $<%= (event.costs_receipts + costs_receipts_otherSum).toFixed(2) %>
                </td>
              </tr>
              <tr>
                <td><i class="fas fa-minus" aria-hidden="true"></i></td>
                <th>Administration</th>
                <td class="has-text-right">
                  $<%= (event.costs_admin || 0).toFixed(2) %>
                </td>
                <td class="has-text-grey-lighter"><i class="fas fa-plus" aria-hidden="true"></i></td>
                <td class="has-text-right">
                  $<%= costs_admin_otherSum.toFixed(2) %>
                </td>
                <td class="has-text-grey-lighter"><i class="fas fa-equals" aria-hidden="true"></i></td>
                <td class="has-text-right">
                  $<%= (event.costs_admin + costs_admin_otherSum).toFixed(2) %>
                </td>
              </tr>
              <tr>
                <td><i class="fas fa-minus" aria-hidden="true"></i></td>
                <th>Prizes Awarded</th>
                <td class="has-text-right">
                  $<%= (event.costs_prizesAwarded || 0).toFixed(2) %>
                </td>
                <td class="has-text-grey-lighter"><i class="fas fa-plus" aria-hidden="true"></i></td>
                <td class="has-text-right">
                  $<%= costs_prizesAwarded_otherSum.toFixed(2) %>
                </td>
                <td class="has-text-grey-lighter"><i class="fas fa-equals" aria-hidden="true"></i></td>
                <td class="has-text-right">
                  $<%= (event.costs_prizesAwarded + costs_prizesAwarded_otherSum).toFixed(2) %>
                </td>
              </tr>
              <tr>
                <th class="has-border-top-width-3"><i class="fas fa-equals" aria-hidden="true"></i></th>
                <th class="has-border-top-width-3">Net Proceeds</th>
                <td class="has-border-top-width-3 has-text-right">
                  <%- stringFns.formatDollarsAsHTML(event.costs_netProceeds) %>
                </td>
                <td class="has-border-top-width-3 has-text-grey-lighter"><i class="fas fa-plus" aria-hidden="true"></i></td>
                <td class="has-border-top-width-3 has-text-right">
                  <%- stringFns.formatDollarsAsHTML(costs_netProceeds_otherSum) %>
                </td>
                <td class="has-border-top-width-3 has-text-grey-lighter"><i class="fas fa-equals" aria-hidden="true"></i></td>
                <td class="has-border-top-width-3 has-text-right">
                  <%- stringFns.formatDollarsAsHTML(event.costs_netProceeds + costs_netProceeds_otherSum) %>
                </td>
              </tr>
              <tr>
                <td></td>
                <th>Amount Donated</th>
                <td class="has-text-right">
                  $<%= (event.costs_amountDonated || 0).toFixed(2) %>
                </td>
                <td class="has-text-grey-lighter"><i class="fas fa-plus" aria-hidden="true"></i></td>
                <td class="has-text-right">
                  $<%= costs_amountDonated_otherSum.toFixed(2) %>
                </td>
                <td class="has-text-grey-lighter"><i class="fas fa-equals" aria-hidden="true"></i></td>
                <td class="has-text-right">
                  $<%= (event.costs_amountDonated + costs_amountDonated_otherSum).toFixed(2) %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <%
          const licenceType = configFns.getLicenceType(licence.licenceTypeKey);
        %>
        <div class="panel">
          <h2 class="panel-heading">
            <%= (licenceType ? licenceType.licenceType : licence.licenceTypeKey) %> Fields
          </h2>
          <%
            const eventFields = licenceType.eventFields || [];

            for (let fieldIndex = 0; fieldIndex < eventFields.length; fieldIndex += 1) {
              const eventField = eventFields[fieldIndex];

              const inputName = licenceType.licenceTypeKey + "-" + eventField.fieldKey;

              let fieldValue = "";

              for (let savedFieldIndex = 0; savedFieldIndex < event.eventFields.length; savedFieldIndex += 1) {
                if (event.eventFields[savedFieldIndex].fieldKey === inputName) {
                  event.eventFields[savedFieldIndex].isDisplayed = true;
                  fieldValue = event.eventFields[savedFieldIndex].fieldValue;
                  break;
                }
              }

              if (fieldValue === "") {
                continue;
              }

              const inputAttributes = eventField.inputAttributes || {};

              if (!inputAttributes.type) {
                inputAttributes.type = "text";
              }

              let inputAttributesString = "";

              for (let attributeName in inputAttributes) {
                inputAttributesString += " " + attributeName + "=\"" + inputAttributes[attributeName] + "\"";
              }
          %>
          <div class="panel-block">
            <p>
              <strong>
                <%= eventField.fieldLabel || eventField.fieldKey %></strong><br />
              <%= fieldValue %>
            </p>
          </div>
          <%
            }

            for (let savedFieldIndex = 0; savedFieldIndex < event.eventFields.length; savedFieldIndex += 1) {
              const savedField = event.eventFields[savedFieldIndex];
              if (!savedField.isDisplayed) {
          %>
          <div class="panel-block">
            <p>
              <strong>
                <%= savedField.fieldKey %></strong><br />
              <%= savedField.fieldValue %>
            </p>
          </div>
          <%
              }
            }
          %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>

<% if (licence.events.length > 1) { %>
<script src="/javascripts/event-viewEdit.min.js"></script>
<% } %>

<%- include('_footerB'); -%>
