<%- include('_header'); -%>

<div class="columns">
  <div class="column is-3 is-hidden-print">
    <%- include("_sideMenu-events"); -%>
  </div>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">Events</a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Event Calendar
    </h1>

    <div class="has-text-centered has-margin-bottom-20">
      <button class="button" id="filter--previous" data-tooltip="Previous Month" type="button">
        <i class="fas fa-arrow-left" aria-hidden="true"></i>
        <span class="sr-only">Previous Month</span>
      </button>
      <div class="select">
        <select id="filter--month">
          <%
            const currentDate = new Date();
            const currentMonth = currentDate.getMonth();
            const months = dateTimeFns.months;
            for (let index = 0; index < months.length; index += 1) {
          %>
            <option value="<%= (index + 1) %>" <%= (currentMonth === index ? " selected" : "") %>>
              <%= months[index] %>
            </option>
          <%
            }
          %>
        </select>
      </div>
      <input class="input is-inline has-width-100 has-text-centered" id="filter--year" type="number"
        min="<%= (eventTableStats ? eventTableStats.eventYearMin : "1970") %>"
        max="<%= (eventTableStats ? eventTableStats.eventYearMax : currentDate.getFullYear() + 2) %>" step="1" value="<%= currentDate.getFullYear() %>" required />
      <button class="button" id="filter--next" data-tooltip="Next Month" type="button">
        <i class="fas fa-arrow-right" aria-hidden="true"></i>
        <span class="sr-only">Next Month</span>
      </button>
    </div>

    <div id="container--events"></div>
  </div>
</div>

<%- include('_footerA'); -%>

<script>
  llm.config_licenceTypes = <%- JSON.stringify(configFns.getProperty("licenceTypes")) %>;
</script>
<script src="/javascripts/event-search.min.js"></script>

<%- include('_footerB'); -%>
