<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <%- include("_sideMenu-events"); -%>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">
          <span class="icon is-small"><i class="fas fa-calendar" aria-hidden="true"></i></span>
          <span>Lottery Events</span>
        </a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Find a Lottery Event
    </h1>

    <div class="box">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label" for="filter--externalLicenceNumber"><%= configFns.getProperty("licences.externalLicenceNumber.fieldLabel") %></label>
            <div class="control has-icons-left">
              <input class="input" id="filter--externalLicenceNumber" type="text" autofocus />
              <span class="icon is-small is-left">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="filter--licenceTypeKey">Licence Type</label>
            <div class="control has-icons-left">
              <div class="select is-fullwidth">
                <select id="filter--licenceTypeKey">
                  <option value="">(All Types)</option>
                  <%
                    const licenceTypes = configFns.getProperty("licenceTypes");
                    for (let licenceTypeIndex = 0; licenceTypeIndex < licenceTypes.length; licenceTypeIndex += 1) {
                  %>
                  <option value="<%= licenceTypes[licenceTypeIndex].licenceTypeKey %>">
                    <%= licenceTypes[licenceTypeIndex].licenceType %>
                  </option>
                  <% } %>
                </select>
              </div>
              <span class="icon is-small is-left">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="filter--year">Event Year</label>
            <div class="control has-icons-left">
              <div class="select is-fullwidth">
                <select id="filter--year" required>
                  <%
                    const currentYear = new Date().getFullYear();
                    const startYear = currentYear + 2;
                    for (let year = startYear; year >= (eventTableStats ? eventTableStats.eventYearMin : 1970); year -= 1) {
                  %>
                    <option value="<%= year %>" <%= (year === currentYear ? " selected" : "") %>>
                      <%= year %>
                    </option>
                  <% } %>
                </select>
              </div>
              <span class="icon is-small is-left">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label" for="filter--organizationName">Organization Name</label>
            <div class="control has-icons-left">
              <input class="input" id="filter--organizationName" name="organizationName" type="text" />
              <span class="icon is-small is-left">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="filter--locationName">Location Name or Address</label>
            <div class="control has-icons-left">
              <input class="input" id="filter--locationName" name="locationName" type="text" />
              <span class="icon is-small is-left">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="container--events"></div>
  </div>
</div>

<%- include('_footerA'); -%>

<script>
  exports.config_licenceTypes = <%- JSON.stringify(configFns.getLicenceTypeKeyToNameObject()) %>;
</script>
<script src="/javascripts/event-search.min.js"></script>

<%- include('_footerB'); -%>
