<%- include('_header'); -%>

<div class="columns">
  <div class="column is-3 is-hidden-print">
    <%- include("_sideMenu-events"); -%>
  </div>
  <div class="column is-block-print is-full-print">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li class="is-active"><a href="#" aria-current="page">Outstanding Events</a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Outstanding Events Report
    </h1>

    <form class="is-block-print" id="form--outstandingEvents">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th><%= configFns.getProperty("licences.externalLicenceNumber.fieldLabel") %></th>
            <th>
              <div class="field">
                <label class="label" for="filter--licenceTypeKey">Licence Type</label>
                <div class="control has-icons-left">
                  <div class="select is-small">
                    <select id="filter--licenceTypeKey" name="licenceTypeKey">
                      <option value="">(All)</option>
                      <%
                        const licenceTypes = configFns.getProperty("licenceTypes");
                        for (let index = 0; index < licenceTypes.length; index += 1) {
                          if (!licenceTypes[index].isActive) {
                            continue;
                          }
                      %>
                        <option value="<%= licenceTypes[index].licenceTypeKey %>">
                          <%= licenceTypes[index].licenceType %>
                        </option>
                      <%
                        }
                      %>
                    </select>
                  </div>
                  <div class="icon is-small is-left">
                    <i class="fas fa-filter" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </th>
            <th>Event Date</th>
            <th class="has-text-centered">Report Date</th>
            <th class="has-text-centered">Banking</th>
            <th class="has-text-centered">Receipts</th>
            <th class="has-text-centered">Net Proceeds</th>
          </tr>
        </thead>
        <tbody id="tbody--outstandingEvents"></tbody>
      </table>
    </form>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="/javascripts/event-outstanding.min.js"></script>

<%- include('_footerB'); -%>
