<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <%- include("_sideMenu-events"); -%>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/events">
          <span class="icon is-small"><i class="fas fa-calendar" aria-hidden="true"></i></span>
          <span>Lottery Events</span>
        </a></li>
        <li class="is-active"><a href="#" aria-current="page">Lottery Events By Week</a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Lottery Events By Week
    </h1>

    <div class="box">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label" for="filter--eventDate">Event Date</label>
            <div class="control">
              <input class="input" id="filter--eventDate" type="date" value="<%= dateTimeFns.dateToString(new Date()) %>" required />
            </div>
          </div>
        </div>
        <div class="column align-self-flex-end">
          <div class="field has-margin-bottom-10">
            <div class="control">
              <div class="b-checkbox is-primary">
                <input id="filter--showLicences" type="checkbox" />
                <label for="filter--showLicences">Show Active Licences</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="container--events"></div>
  </div>
</div>

<%- include('_footerA'); -%>

<script>
  exports.config_days = <%- JSON.stringify(dateTimeFns.days) %>;
  exports.config_licenceTypes = <%- JSON.stringify(configFns.getLicenceTypeKeyToNameObject()) %>;
</script>
<script src="/javascripts/event-byWeek.min.js"></script>

<%- include('_footerB'); -%>
