<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <%- include("_sideMenu-licences"); -%>
  <div class="column is-block-print">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/licences">Lottery Licences</a></li>
        <li class="is-active"><a href="#" aria-current="page">Licence Type Summary</a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Licence Type Summary
    </h1>

    <div class="box">
      <form class="is-block-print" id="form--licenceTypes">

        <%- include('_dateRangeSelector', {
          fieldKey: "applicationDate",
          fieldName: "Application Date",
          yearMin: applicationYearMin,
          startValue: applicationDateStartString,
          endValue: applicationDateEndString
        }); -%>

        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="filter--licenceTypeKey">Licence Type</label>
              <div class="control has-icons-left">
                <div class="select is-fullwidth">
                  <select id="filter--licenceTypeKey" name="licenceTypeKey">
                    <option value="">(All)</option>
                    <%
                      const licenceTypes = configFns.getProperty("licenceTypes");
                      for (let index = 0; index < licenceTypes.length; index += 1) {
                        if (!licenceTypes[index].isActive) {
                          continue;
                        }
                    %>
                      <option value="<%= licenceTypes[index].licenceTypeKey %>">
                        <%= licenceTypes[index].licenceType %>
                      </option>
                    <%
                      }
                    %>
                  </select>
                </div>
                <div class="icon is-small is-left">
                  <i class="fas fa-filter" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="container--licenceTypes"></div>

  </div>
</div>

<%- include('_footerA'); -%>

<script src="/javascripts/licence-licenceType.min.js"></script>

<%- include('_footerB'); -%>
