<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <%- include("_sideMenu-licences"); -%>
  <div class="column is-block-print">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/licences">
          <span class="icon is-small"><i class="fas fa-certificate" aria-hidden="true"></i></span>
          <span>Lottery Licences</span>
        </a></li>
        <li class="is-active"><a href="#" aria-current="page">Active Licence Summary</a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Active Licence Summary
    </h1>

    <div class="box">
      <form class="is-block-print" id="form--activeSummary">

        <%- include('_dateRangeSelector', {
          fieldKey: "startEndDate",
          fieldName: "Active Date",
          yearMin: startYearMin,
          startValue: startDateStartString,
          endValue: startDateEndString
        }); -%>

      </form>
    </div>

    <div id="container--activeSummary"></div>

  </div>
</div>

<%- include('_footerA'); -%>

<script>
  llm.config_licenceTypes = <%- JSON.stringify(configFns.getLicenceTypeKeyToNameObject()) %>;
</script>
<script src="/javascripts/licence-activeSummary.min.js"></script>

<%- include('_footerB'); -%>
