<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/licences">Licences</a></li>
    <li class="is-active"><a href="#" aria-current="page">Licence #<%= licence.licenceID %></a></li>
  </ul>
</nav>

<div class="level">
  <div class="level-left">
    <h1 class="title is-1">
      Licence #<%= licence.licenceID %>
    </h1>
  </div>
  <div class="level-right">
    <div class="field is-grouped justify-flex-end">
      <% if (licence.canUpdate) { %>
        <div class="control">
          <a class="button is-link" href="/licences/<%= licence.licenceID %>/edit">
            <span class="icon is-small">
              <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            </span>
            <span>Edit this Licence</span>
          </a>
        </div>
      <% } %>
      <% if (licence.licenceFeeIsPaid) { %>
        <div class="control">
          <a class="button is-link" href="/licences/<%= licence.licenceID %>/print" target="_blank">
            <span class="icon is-small">
              <i class="fas fa-print" aria-hidden="true"></i>
            </span>
            <span>Print Licence</span>
          </a>
        </div>
      <% } %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <p>
      <strong>Licence ID</strong><br />
      <%= licence.licenceID %>
    </p>
  </div>
  <div class="column">
    <p>
      <strong><%= configFns.getProperty("licences.externalLicenceNumber.fieldLabel") %></strong><br />
      <%= licence.externalLicenceNumber %>
    </p>
  </div>
  <div class="column">
    <p>
      <strong>Application Date</strong><br />
      <%= licence.applicationDateString %>
    </p>
  </div>
</div>

<div class="columns">
  <div class="column">
    <p>
      <strong>Organization</strong><br />
      <a <%- (organization.isEligibleForLicences ? "" : " class=\"has-text-danger\"") %> href="/organizations/<%= organization.organizationID %>">
        <%= organization.organizationName %>
      </a>
    </p>
  </div>
</div>

<div class="columns">
  <div class="column is-6">
    <p>
      <strong>Municipality</strong><br />
      <%= licence.municipality %>
    </p>
  </div>
  <div class="column is-6">
    <p>
      <strong>Location</strong><br />
      <%= licence.locationDisplayName %>
    </p>
  </div>
</div>

<div class="columns">
  <div class="column is-3">
    <p>
      <strong>Start Date</strong><br />
      <%= licence.startDateString %>
    </p>
  </div>
  <div class="column is-3">
    <p>
      <strong>End Date</strong><br />
      <%= licence.endDateString %>
    </p>
  </div>
  <div class="column is-3">
    <p>
      <strong>Start Time</strong><br />
      <%= licence.startTimeString %>
    </p>
  </div>
  <div class="column is-3">
    <p>
      <strong>End Time</strong><br />
      <%= licence.endTimeString %>
    </p>
  </div>
</div>

<div class="columns">
  <div class="column is-6">
    <p>
      <strong>Licence Details</strong><br />
      <span class="has-newline-chars"><%= licence.licenceDetails %></span>
    </p>
  </div>
  <div class="column is-6">
    <p>
      <strong>Terms and Conditions</strong><br />
      <span class="has-newline-chars"><%= licence.termsConditions %></span>
    </p>
  </div>
</div>

<div class="columns">
  <div class="column is-6">
    <p>
      <strong>Licence Type</strong><br />
      <%
        const licenceType = configFns.getLicenceType(licence.licenceTypeKey);
      %>
      <%= (licenceType ? licenceType.licenceType : licence.licenceTypeKey) %>
    </p>
  </div>
  <div class="column is-6">
    <p>
      <strong>Total Prize Value</strong><br />
      $ <%= licence.totalPrizeValue.toFixed(2) %>
    </p>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="panel">
      <div class="panel-heading">
        <div class="level">
          <div class="level-left">
            <h2 class="has-text-weight-bold">Event Dates</h2>
          </div>
          <div class="level-right has-text-weight-normal has-text-right">
            <a class="button is-small" href="/reports/events-byLicence?licenceID=<%= licence.licenceID %>">
              <span class="icon is-small">
                <i class="fas fa-file-download" aria-hidden="true"></i>
              </span>
              <span>Export Events</span>
            </a>
          </div>
        </div>
      </div>
      <% if (licence.events.length === 0) { %>
        <div class="panel-block">
          <div class="message is-warning">
            <div class="message-body">
              There are no events associated with this licence.
            </div>
          </div>
        </div>
      <% } else { %>
        <% for (let eventIndex = 0; eventIndex < licence.events.length; eventIndex += 1) { %>
          <a class="panel-block" href="/events/<%= licence.licenceID %>/<%=licence.events[eventIndex].eventDate %>">
            <span class="panel-icon">
              <i class="fas fa-calendar" aria-hidden="true"></i>
            </span>
            <%= licence.events[eventIndex].eventDateString %>
          </a>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="column">
    <div class="panel">
      <h2 class="panel-heading">
        Additional <%= (licenceType ? licenceType.licenceType : licence.licenceTypeKey) %> Fields
      </h2>
      <%
        const licenceFields = licenceType.licenceFields || [];
        let fieldKeys = "";

        for (let fieldIndex = 0; fieldIndex < licenceFields.length; fieldIndex += 1) {
          const licenceField = licenceFields[fieldIndex];

          const inputName = licenceType.licenceTypeKey + "-" + licenceField.fieldKey;

          let fieldValue = "";

          for (let savedFieldIndex = 0; savedFieldIndex < licence.licenceFields.length; savedFieldIndex += 1) {
            if (licence.licenceFields[savedFieldIndex].fieldKey === inputName) {
              licence.licenceFields[savedFieldIndex].isDisplayed = true;
              fieldValue = licence.licenceFields[savedFieldIndex].fieldValue;
              break;
            }
          }

          if (fieldValue === "") {
            continue;
          }
      %>
      <div class="panel-block">
        <p>
          <strong><%= licenceField.fieldLabel || licenceField.fieldKey %></strong><br />
          <%= fieldValue %>
        </p>
      </div>
      <%
        }

        for (let savedFieldIndex = 0; savedFieldIndex < licence.licenceFields.length; savedFieldIndex += 1) {
          const savedField = licence.licenceFields[savedFieldIndex];
          if (!savedField.isDisplayed) {
      %>
          <div class="panel-block">
            <p>
              <strong><%= savedField.fieldKey %></strong><br />
              <%= savedField.fieldValue %>
            </p>
          </div>
      <%
          }
        }
      %>
    </div>
  </div>
  <div class="column">
    <div class="panel">
      <h2 class="panel-heading">Licence Fee Payment</h2>

      <% if (licence.licenceFeeIsPaid) { %>
        <div class="panel-block">
          <p>
            <strong>Fee Collected</strong><br />
            $ <%= licence.licenceFee.toFixed(2) %>
          </p>
        </div>
        <div class="panel-block">
          <p>
            <strong><%= configFns.getProperty("licences.externalReceiptNumber.fieldLabel") %></strong><br />
            <%= licence.externalReceiptNumber %>
          </p>
        </div>
      <% } else { %>
        <div class="panel-block is-block">
          <div class="message is-warning">
            <div class="message-body">
              This licence is currently unpaid.
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>



<%- include('_footerA'); -%>

<%- include('_footerB'); -%>
