<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/licences">Licences</a></li>
    <% if (isCreate) { %>
      <li class="is-active"><a href="#" aria-current="page">New Licence</a></li>
    <% } else { %>
      <li><a href="/licences/<%= licence.LicenceID %>">Licence #<%= licence.LicenceID %></a></li>
      <li class="is-active"><a href="#" aria-current="page">Update</a></li>
    <% } %>
  </ul>
</nav>

<div class="columns">
  <div class="column">
    <h1 class="title is-1">
      <%= (isCreate ? "Create a New Licence" : "Update an Existing Licence") %>
    </h1>
  </div>
  <% if (!isCreate) { %>
    <div class="column is-narrow has-text-right">
      <a class="button is-link" href="/licences/<%= licence.LicenceID %>/print" target="_blank">
        <span class="icon is-small">
          <i class="fas fa-print" aria-hidden="true"></i>
        </span>
        <span>Print Licence</span>
      </a>
    </div>
  <% } %>
</div>

<form id="form--licence">

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label" for="licence--licenceID">Licence ID</label>
        <div class="control has-icons-left">
          <input class="input has-background-light has-cursor-not-allowed" id="licence--licenceID" name="licenceID" type="text" value="<%= licence.LicenceID %>" placeholder="(New Licence Number)" readonly required />
          <span class="icon is-left">
            <i class="fas fa-key" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label" for="licence--externalLicenceNumber"><%= configFns.getProperty("licences.externalLicenceNumber.fieldLabel") %></label>
        <div class="control">
          <input class="input" id="licence--externalLicenceNumber" name="externalLicenceNumber" type="text" value="<%= licence.ExternalLicenceNumber %>" maxlength="20" />
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label" for="licence--applicationDateString">Application Date</label>
        <div class="control has-icons-left">
          <input class="input" id="licence--applicationDateString" name="applicationDateString" type="date" value="<%= licence.ApplicationDateString %>" required />
          <span class="icon is-left">
            <i class="fas fa-calendar" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-full">
      <input id="licence--organizationID" name="organizationID" type="hidden" value="<%= organization.OrganizationID %>" />
      <label class="label" for="licence--organization">Organization</label>
      <div class="field has-addons">
        <div class="control has-icons-left is-expanded">
          <input class="input has-background-light has-cursor-not-allowed" id="licence--organizationName" type="text" value="<%= organization.OrganizationName %>" readonly required />
          <span class="icon is-left">
            <i class="fas fa-users" aria-hidden="true"></i>
          </span>
        </div>
        <div class="control">
          <button class="button is-organization-lookup-button" type="button">
            <span class="icon"><i class="fas fa-search" aria-hidden="true"></i></span>
            <span>Lookup</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">

    <div class="column is-two-thirds">
      <div class="field">
        <label class="label" for="licence--location">Location</label>
        <div class="control has-icons-left">
          <input class="input" id="licence--location" name="location" type="text" value="<%= licence.Location %>" maxlength="100" />
          <span class="icon is-left">
            <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="field">
        <label class="label" for="licence--municipality">Municipality</label>
        <div class="control has-icons-left">
          <input class="input" id="licence--municipality" name="municipality" type="text" value="<%= licence.Municipality %>" maxlength="100" />
          <span class="icon is-left">
            <i class="fas fa-city" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column is-one-quarter">
      <div class="field">
        <label class="label" for="startDateString">Start Date</label>
        <div class="control has-icons-left">
          <input class="input" id="licence--startDateString" name="startDateString" type="date" value="<%= licence.StartDateString %>" min="<%= licence.ApplicationDateString %>" required />
          <span class="icon is-left">
            <i class="fas fa-play" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="field">
        <label class="label" for="endDateString">End Date</label>
        <div class="control has-icons-left">
          <input class="input" id="licence--endDateString" name="endDateString" type="date" value="<%= licence.EndDateString %>" min="<%= licence.StartDateString %>" required />
          <span class="icon is-left">
            <i class="fas fa-stop" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="field">
        <label class="label" for="licence--startTimeString">Start Time</label>
        <div class="control has-icons-left">
          <input class="input" id="licence--startTimeString" name="startTimeString" type="time" value="<%= licence.StartTimeString %>" step="300" required />
          <span class="icon is-left">
            <i class="fas fa-play" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="field">
        <label class="label" for="licence--endTimeString">End Time</label>
        <div class="control has-icons-left">
          <input class="input" id="licence--endTimeString" name="endTimeString" type="time" value="<%= licence.EndTimeString %>" step="300" required />
          <span class="icon is-left">
            <i class="fas fa-stop" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label" for="licence--licenceDetails">Licence Details</label>
        <div class="control">
          <textarea class="textarea" id="licence--licenceDetails" name="licenceDetails" rows="2"><%= licence.LicenceDetails %></textarea>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label" for="licence--termsConditions">Terms and Conditions</label>
        <div class="control">
          <textarea class="textarea" id="licence--termsConditions" name="termsConditions" rows="2"><%= licence.TermsConditions %></textarea>
        </div>
      </div>
    </div>


    <div class="column is-half">
      <div class="field">
        <label class="label" for="licence--licenceTypeKey">Licence Type</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select id="licence--licenceTypeKey" name="licenceTypeKey" required>
              <option value="">(Select a Licence Type)</option>
              <%
                const licenceTypes = configFns.getProperty("licenceTypes");
                for (let licenceTypeIndex = 0; licenceTypeIndex < licenceTypes.length; licenceTypeIndex += 1) {
                  const licenceType = licenceTypes[licenceTypeIndex];

                  if (!licenceType.isActive && licence.LicenceTypeKey !== licenceType.licenceTypeKey) {
                    continue;
                  }
              %>
                  <option value="<%= licenceType.licenceTypeKey %>" <%= (licence.LicenceTypeKey === licenceType.licenceTypeKey ? " selected" : "") %>>
                    <%= licenceType.licenceType %>
                  </option>
              <%
                }
              %>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="field">
        <label class="label" for="licence--totalPrizeValue">Total Prize Value</label>
        <div class="control has-icons-left">
          <input class="input" id="licence--totalPrizeValue" name="totalPrizeValue" type="number" value="<%= licence.TotalPrizeValue %>" min="0.00" max="99999999.99" step="0.01" required onwheel="return false;" />
          <span class="icon is-left">
            <i class="fas fa-dollar-sign" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="columns">
        <div class="column">
          <h2 class="title is-4">Event Dates</h2>
        </div>
        <div class="column is-narrow has-text-right">
          <button class="button is-small is-event-calculator-button" type="button">
            <span class="icon"><i class="fas fa-calculator" aria-hidden="true"></i></span>
            <span>Event Calculator</span>
          </button>
        </div>
      </div>
      <div id="container--events">
        <%
          for (let eventIndex = 0; eventIndex < licence.events.length; eventIndex += 1) {
            const eventObj = licence.events[eventIndex];
        %>
          <div class="field">
            <div class="control is-expanded has-icons-left">
              <input class="input is-small" name="eventDate" type="date" value="<%= eventObj.EventDateString %>" min="<%= licence.StartDateString %>" max="<%= licence.EndDateString %>" required readonly />
              <span class="icon is-left">
                <i class="fas fa-calendar" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        <%
          }
        %>
      </div>
      <button class="button is-small is-fullwidth is-add-event-button has-margin-top-10" type="button">
        <span class="icon"><i class="fas fa-plus" aria-hidden="true"></i></span>
        <span>Add an Event Date</span>
      </button>

      <div class="modal is-event-calculator-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <h3 class="modal-card-title">Calculate Events</h3>
            <button class="delete is-cancel-button" aria-label="close" type="button"></button>
          </header>
          <section class="modal-card-body">
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label" for="eventCalc--eventCount">Number of Events</label>
                  <div class="control">
                    <input class="input has-text-right" id="eventCalc--eventCount" type="number" min="1" max="366" step="1" value="1" />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label" for="eventCalc--dayInterval">Interval</label>
                  <div class="control">
                    <input class="input has-text-right" id="eventCalc--dayInterval" type="number" min="1" max="90" step="1" value="7" />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot justify-right">
            <button class="button is-cancel-button" type="button">Cancel</button>
            <button class="button is-success is-calculate-events-button" type="button">Calculate and Add</button>
          </footer>
        </div>
      </div>

    </div>
    <div class="column is-half">
      <%
        for (let licenceTypeIndex = 0; licenceTypeIndex < licenceTypes.length; licenceTypeIndex += 1) {
          const licenceType = licenceTypes[licenceTypeIndex];
      %>
        <fieldset class="container-licenceTypeFields <%= (licence.LicenceTypeKey === licenceType.licenceTypeKey ? "" : " is-hidden") %>" id="container-licenceTypeFields--<%= licenceType.licenceTypeKey %>" <%= (licence.LicenceTypeKey === licenceType.licenceTypeKey ? "" : " disabled") %>>
          <legend class="title is-4">Additional <%= licenceType.licenceType %> Fields</legend>
          <%
            const licenceFields = licenceType.licenceFields || [];
            let fieldKeys = "";

            for (let fieldIndex = 0; fieldIndex < licenceFields.length; fieldIndex += 1) {
              const licenceField = licenceFields[fieldIndex];

              const inputName = licenceType.licenceTypeKey + "-" + licenceField.fieldKey;

              let fieldValue = "";

              if (!isCreate) {
                for (let savedFieldIndex = 0; savedFieldIndex < licence.licenceFields.length; savedFieldIndex += 1) {
                  if (licence.licenceFields[savedFieldIndex].FieldKey === inputName) {
                    licence.licenceFields[savedFieldIndex].isDisplayed = true;
                    fieldValue = licence.licenceFields[savedFieldIndex].FieldValue;
                    break;
                  }
                }
              }

              if (!licenceField.isActive && fieldValue === "") {
                continue;
              }

              fieldKeys += "," + inputName;

              const inputAttributes = licenceField.inputAttributes || {};

              if (!inputAttributes.type) {
                inputAttributes.type = "text";
              }

              let inputAttributesString = "";

              for (let attributeName in inputAttributes) {
                inputAttributesString += " " + attributeName + "=\"" + inputAttributes[attributeName] + "\"";
              }
          %>
            <div class="field">
              <label class="label" for="licence--<%= inputName %>"><%= licenceField.fieldLabel || licenceField.fieldKey %></label>
              <div class="control">
                <input class="input" id="licence--<%= inputName %>" name="<%= inputName %>" value="<%= fieldValue %>" <%- inputAttributesString %> />
              </div>
            </div>
          <%
            }

            if (!isCreate) {
              for (let savedFieldIndex = 0; savedFieldIndex < licence.licenceFields.length; savedFieldIndex += 1) {
                const savedField = licence.licenceFields[savedFieldIndex];
                if (!savedField.isDisplayed) {
                  fieldKeys += "," + savedField.FieldKey;
          %>
                <div class="field">
                  <label class="label" for="licence--<%= savedField.FieldKey %>-<%= licenceType.licenceTypeKey %>"><%= savedField.FieldKey %></label>
                  <div class="control">
                    <input class="input" id="licence--<%= savedField.FieldKey %>-<%= licenceType.licenceTypeKey %>" name="<%= savedField.FieldKey %>" type="text" value="<%= savedField.FieldValue %>" />
                  </div>
                </div>
          <%
                }
              }
            }
          %>
          <input name="fieldKeys" type="hidden" value="<%= fieldKeys %>" />
        </fieldset>
      <%
        }
      %>
    </div>
  </div>

  <div class="has-text-right">
    <span class="is-inline-block has-margin-top-10 has-margin-right-10 is-size-7" id="container--form-message"></span>

    <% if (isCreate) { %>
      <a class="button" href="/licences">
        Cancel
      </a>
    <% } %>
    <button class="button is-success" type="submit">
      <span class="icon">
        <i class="fas fa-save" aria-hidden="true"></i>
      </span>
      <span><%= (isCreate ? "Create New Licence and Continue" : "Update Licence") %></span>
    </button>
    <% if (!isCreate) { %>
      <div class="dropdown is-hoverable is-right is-up">
        <div class="dropdown-trigger">
          <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu3">
            <span>Options</span>
            <span class="icon">
              <i class="fas fa-angle-up" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a class="dropdown-item is-delete-button" href="#">
              <span class="icon"><i class="fas fa-trash has-text-danger"></i></span>
              <span>Delete Licence</span>
            </a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</form>

<div class="modal is-organization-lookup-modal">
  <div class="modal-background"></div>
  <form>
    <div class="modal-card">
      <header class="modal-card-head">
        <h3 class="modal-card-title">Select an Organization</h3>
        <button class="delete is-cancel-button" aria-label="close" type="button"></button>
      </header>
      <section class="modal-card-body">
        <div class="control has-icons-left">
          <input class="input" id="organizationLookup--searchStr" type="text" placeholder="Filter Organizations" disabled />
          <span class="icon is-left">
            <i class="fas fa-filter" aria-hidden="true"></i>
          </span>
        </div>
        <div class="has-margin-top-20" id="container--organizationLookup">
          <p class="has-text-centered has-text-grey-lighter">
            <i class="fas fa-3x fa-circle-notch fa-spin" aria-hidden="true"></i><br />
            Loading organizations...
          </p>
        </div>
      </section>
      <footer class="modal-card-foot justify-right">
        <button class="button is-cancel-button" type="button">Cancel</button>
      </footer>
    </div>
  </form>
</div>

<%- include('_footerA'); -%>

<script>
  const config_licenceTypes = <%- JSON.stringify(configFns.getProperty("licenceTypes")) %>;
</script>

<script src="/javascripts/licence-edit.min.js"></script>

<%- include('_footerB'); -%>
