<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/locations">Locations</a></li>
    <li class="is-active"><a href="#" aria-current="page"><%= location.locationDisplayName %></a></li>
  </ul>
</nav>

<% if (location.recordDelete_timeMillis) { %>
  <div class="message is-danger">
    <div class="message-body">
      <p class="is-size-5 has-text-weight-bold">This location has been deleted.</p>
      <% if (user.userProperties.canUpdate === "true") { %>
        <div class="has-text-right">
          <button class="button is-danger" id="is-location-restore-button" data-location-id="<%= location.locationID %>" type="button">
            <span class="icon">
              <i class="fas fa-trash-restore" aria-hidden="true"></i>
            </span>
            <span>Restore Location</span>
          </button>
        </div>
      <% } %>
    </div>
  </div>
<% } %>

<div class="level">
  <div class="level-left">
    <h1 class="title is-1">
      <%= location.locationDisplayName %>
    </h1>
  </div>
  <div class="level-right has-text-right is-hidden-print">
    <% if (location.canUpdate) { %>
      <a class="button is-link" href="/locations/<%= location.locationID %>/edit">
        <span class="icon is-small">
          <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </span>
        <span>Edit this Location</span>
      </a>
    <% } %>
  </div>
</div>

<div class="columns">
  <div class="column is-8">
    <%= location.locationAddress1 %><br />
    <%= location.locationAddress2 %>
    <%- (location.locationAddress2 === "" ? "" : "<br />") %>
    <%= location.locationCity + ", " + location.locationProvince %><br />
    <%= location.locationPostalCode %>
  </div>
  <div class="column">
    <% if (location.locationIsDistributor || location.locationIsManufacturer) { %>
      <h2 class="is-size-5 has-margin-bottom-10">Location Attributes</h2>
      <% if (location.locationIsDistributor) { %>
        <p class="has-margin-bottom-10">
          <span class="icon has-text-white has-background-primary has-border-radius-3">
            <i class="fas fa-check" aria-hidden="true"></i>
          </span>
          Location is a Ticket Distributor
        </p>
      <% } %>
      <% if (location.locationIsManufacturer) { %>
        <p>
          <span class="icon has-text-white has-background-primary has-border-radius-3">
            <i class="fas fa-check" aria-hidden="true"></i>
          </span>
          Location is a Ticket Manufacturer
        </p>
      <% } %>
    <% } %>
  </div>
</div>

<%- include('_location-view_edit-licences'); -%>

<%- include('_footerA'); -%>

<% if (user.userProperties.canUpdate === "true") { %>
  <script src="/javascripts/location-view.min.js"></script>
<% } %>

<script src="/javascripts/location-viewEdit.min.js"></script>

<%- include('_footerB'); -%>
