<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/organizations">Organizations</a></li>
    <li class="is-active"><a href="#" aria-current="page"><%= organization.OrganizationName %></a></li>
  </ul>
</nav>

<div class="level">
  <div class="level-left">
    <h1 class="title is-1">
      <%= organization.OrganizationName %>
    </h1>
  </div>
  <% if (user.userProperties.organizations_canEdit === "true") { %>
    <div class="level-right">
      <a class="button is-primary" href="/organizations/<%= organization.OrganizationID %>/edit">
        <span class="icon is-small">
          <i class="fas fa-pencil-alt"></i>
        </span>
        <span>Edit this Organization</span>
      </a>
    </div>
  <% } %>
</div>

<p>
  <%= organization.OrganizationAddress1 %><br />
  <%= (organization.OrganizationAddress2 === "" ? "" : organization.OrganizationAddress1 + "<br />") %>
  <%= organization.OrganizationCity + ", " + organization.OrganizationProvince %><br />
  <%= organization.OrganizationPostalCode %>
</p>

<div class="is-divider"></div>

<h2 class="title is-3">Organization Representatives</h2>

<% if (organization.organizationRepresentatives.length === 0) { %>

    <div class="message is-warning">
      <div class="message-body">
        There are no representatives associated with this organization.
      </div>
    </div>

<% } else { %>

  <table class="table is-fullwidth is-striped is-hoverable is-representative-table">
    <thead>
      <tr>
        <th class="is-width-1">Default</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <%
        for (let index = 0; index < organization.organizationRepresentatives.length; index += 1) {
          const representativeObj = organization.organizationRepresentatives[index];
      %>
        <tr data-representative-index="<%= representativeObj.RepresentativeIndex %>">
          <td>
            <% if (representativeObj.IsDefault === 1) { %>
              <i class="far fa-lg fa-dot-circle has-text-info"></i>
            <% } else { %>
              <i class="far fa-lg fa-circle has-text-grey-lighter"></i>
            <% } %>
          </td>
          <td>
            <%= representativeObj.RepresentativeName %><br />
            <small><%= representativeObj.RepresentativeTitle %></small>
          </td>
          <td>
            <%= representativeObj.RepresentativeAddress1 %><br />
            <small><%= representativeObj.RepresentativeAddress2 %></small>
          </td>
          <td>
            <%= representativeObj.RepresentativeCity %>, <%= representativeObj.RepresentativeProvince %><br />
            <small><%= representativeObj.RepresentativePostalCode %></small>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

<% } %>

<%- include('_footerA'); -%>
<%- include('_footerB'); -%>
