<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <%- include("_sideMenu-organizations"); -%>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/organizations">Organizations</a></li>
        <li class="is-active"><a href="#" aria-current="page">Organization Recovery</a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Organization Recovery
    </h1>

    <% if (organizations.length === 0) { %>
      <div class="message is-info">
        <p class="message-body">There are no deleted organizations available to recover.</p>
      </div>
    <% } else { %>
      <div class="message is-info">
        <p class="message-body">
          The organizations listed below have all been deleted.
          Click on any of the organizations to view them, and recover them if need be.
        </p>
      </div>
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th>Organization</th>
            <th>Date Deleted</th>
          </tr>
        </thead>
        <tbody>
          <%
            for (let index = 0; index < organizations.length; index += 1) {
              const organization = organizations[index];
          %>
          <tr>
            <td>
              <a class="has-text-danger" href="/organizations/<%= organization.organizationID %>"><%= organization.organizationName %></a>
            </td>
            <td>
              <span data-tooltip="Deleted by <%= organization.recordDelete_userName %>">
                <%= organization.recordDelete_dateString %>
              </span>
            </td>
          </tr>
          <%
            }
          %>
        </tbody>
      </table>
    <% } %>
  </div>
</div>

<%- include('_footerA'); -%>

<%- include('_footerB'); -%>
