<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/organizations">Organizations</a></li>
    <li class="is-active"><a href="#" aria-current="page"><%= organization.organizationName %></a></li>
  </ul>
</nav>

<div class="columns">
  <div class="column">
    <h1 class="title is-1">
      <%= organization.organizationName %>
    </h1>
  </div>
  <% if (organization.canUpdate) { %>
    <div class="column is-narrow has-text-right">
      <a class="button is-link" href="/organizations/<%= organization.organizationID %>/edit">
        <span class="icon is-small">
          <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </span>
        <span>Edit this Organization</span>
      </a>
    </div>
  <% } %>
</div>

<p>
  <%= organization.organizationAddress1 %><br />
  <%= (organization.organizationAddress2 === "" ? "" : organization.organizationAddress2) %><br />
  <%= organization.organizationCity + ", " + organization.organizationProvince %><br />
  <%= organization.organizationPostalCode %>
</p>

<h2 class="title is-3 has-margin-top-20">Organization Representatives</h2>

<% if (organization.organizationRepresentatives.length === 0) { %>

    <div class="message is-warning">
      <div class="message-body">
        There are no representatives associated with this organization.
      </div>
    </div>

<% } else { %>

  <table class="table is-fullwidth is-striped is-hoverable is-representative-table">
    <thead>
      <tr>
        <th class="has-width-50">Default</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <%
        for (let index = 0; index < organization.organizationRepresentatives.length; index += 1) {
          const representativeObj = organization.organizationRepresentatives[index];
      %>
        <tr data-representative-index="<%= representativeObj.representativeIndex %>">
          <td>
            <% if (representativeObj.isDefault === 1) { %>
              <span data-tooltip="Default Representative"><i class="far fa-lg fa-fw fa-dot-circle has-text-info" aria-hidden="true"></i></span>
              <span class="sr-only">Default Representative</span>
            <% } else { %>
              <i class="far fa-lg fa-fw fa-circle has-text-grey-lighter" aria-hidden="true"></i>
            <% } %>
          </td>
          <td>
            <%= representativeObj.representativeName %><br />
            <small><%= representativeObj.representativeTitle %></small>
          </td>
          <td>
            <%= representativeObj.representativeAddress1 %><br />
            <small><%= representativeObj.representativeAddress2 %></small>
          </td>
          <td>
            <%= representativeObj.representativeCity %>, <%= representativeObj.representativeProvince %><br />
            <small><%= representativeObj.representativePostalCode %></small>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

<% } %>

<%- include('_organization-view_edit-licences'); -%>

<%- include('_footerA'); -%>

<script>
  window.llm.initializeTabs(document.getElementById("tabs--licences"));
</script>

<%- include('_footerB'); -%>
