<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/organizations">Organizations</a></li>
    <% if (isCreate) { %>
      <li class="is-active"><a href="#" aria-current="page">New Organization</a></li>
    <% } else { %>
      <li><a href="/organizations/<%= organization.OrganizationID %>"><%= organization.OrganizationName %></a></li>
      <li class="is-active"><a href="#" aria-current="page">Update</a></li>
    <% } %>
  </ul>
</nav>

<h1 class="title is-1">
  <%= (isCreate ? "Create a New Organization" : "Update an Organization") %>
</h1>

<form id="form--organization">
  <input id="organization--organizationID" name="organizationID" type="hidden" value="<%= organization.OrganizationID %>" />

  <div class="field">
    <label class="label" for="organization--organizationName">Organization Name</label>
    <div class="control">
      <input class="input" id="organization--organizationName" name="organizationName" type="text" value="<%= organization.OrganizationName %>" maxlength="100" autocomplete="off" <%= (isCreate ? " autofocus " : "") %> required />
    </div>
  </div>

  <div class="field">
    <label class="label" for="organization--organizationAddress1">Address</label>
    <div class="control">
      <input class="input" id="organization--organizationAddress1" name="organizationAddress1" type="text" value="<%= organization.OrganizationAddress1 %>" placeholder="Line 1" maxlength="50" autocomplete="off" />
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" id="organization--organizationAddress2" name="organizationAddress2" type="text" value="<%= organization.OrganizationAddress2 %>" placeholder="Line 2" maxlength="50" autocomplete="off" />
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label" for="organization--organizationCity">City</label>
        <div class="control">
          <input class="input" id="organization--organizationCity" name="organizationCity" type="text" value="<%= organization.OrganizationCity %>" maxlength="20" autocomplete="off" />
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="field">
        <label class="label" for="organization--organizationProvince">Province</label>
        <div class="control">
          <input class="input" id="organization--organizationProvince" name="organizationProvince" type="text" value="<%= organization.OrganizationProvince %>" maxlength="2" autocomplete="off" />
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="field">
        <label class="label" for="organization--organizationPostalCode">Postal Code</label>
        <div class="control">
          <input class="input" id="organization--organizationPostalCode" name="organizationPostalCode" type="text" value="<%= organization.OrganizationPostalCode %>" minlength="5" maxlength="7" autocomplete="off" />
        </div>
      </div>
    </div>
  </div>

  <% if (isCreate) { %>
    <div class="message is-info">
      <div class="message-body">
        Additional organization options, like the ability to add representatives,
        will be available after the organization is created.
      </div>
    </div>
  <% } %>

  <div class="level">
    <div class="level-left" id="container--form-message">
    </div>
    <div class="level-right">
      <div class="buttons">
        <a class="button" href="<%= (isCreate ? "/organizations" : "/organizations/" + organization.OrganizationID) %>">
          Cancel
        </a>
        <button class="button is-success" type="submit">
          <span class="icon">
            <i class="fas fa-save"></i>
          </span>
          <span><%= (isCreate ? "Create New Organization and Continue" : "Update Organization") %></span>
        </button>
      </div>
    </div>
  </div>
</form>

<% if (!isCreate) { %>

  <div class="is-divider"></div>

  <div class="level">
    <div class="level-left">
      <h2 class="title is-3">Organization Representatives</h2>
    </div>
    <div class="level-right">
      <button class="button is-primary is-add-representative-button">
        <span class="icon is-small">
          <i class="fas fa-user-plus"></i>
        </span>
        <span>Add a Representative</span>
      </button>
    </div>
  </div>

  <table class="table is-fullwidth is-striped is-hoverable is-representative-table">
    <thead>
      <tr>
        <th class="has-width-50">Default</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%
        for (let index = 0; index < organization.organizationRepresentatives.length; index += 1) {
          const representativeObj = organization.organizationRepresentatives[index];
      %>
        <tr data-representative-index="<%= representativeObj.RepresentativeIndex %>"
          data-representative-name="<%= representativeObj.RepresentativeName %>"
          data-representative-title="<%= representativeObj.RepresentativeTitle %>"
          data-representative-address-1="<%= representativeObj.RepresentativeAddress1 %>"
          data-representative-address-2="<%= representativeObj.RepresentativeAddress2 %>"
          data-representative-city="<%= representativeObj.RepresentativeCity %>"
          data-representative-province="<%= representativeObj.RepresentativeProvince %>"
          data-representative-postal-code="<%= representativeObj.RepresentativePostalCode %>">
          <td>
            <div class="field">
              <input class="is-checkradio is-info" id="representative-isDefault--<%= representativeObj.RepresentativeIndex %>" name="representative-isDefault" type="radio" value="<%= representativeObj.RepresentativeIndex %>" <%= (representativeObj.IsDefault === 1 ? " checked" : "") %> />
              <label for="representative-isDefault--<%= representativeObj.RepresentativeIndex %>"></label>
            </div>
          </td>
          <td>
            <%= representativeObj.RepresentativeName %><br />
            <small><%= representativeObj.RepresentativeTitle %></small>
          </td>
          <td>
            <%= representativeObj.RepresentativeAddress1 %><br />
            <small><%= representativeObj.RepresentativeAddress2 %></small>
          </td>
          <td>
            <%= representativeObj.RepresentativeCity %>, <%= representativeObj.RepresentativeProvince %><br />
            <small><%= representativeObj.RepresentativePostalCode %></small>
          </td>
          <td>
            <div class="buttons is-right has-addons">
              <button class="button is-small is-edit-representative-button" type="button">
                <span class="icon">
                  <i class="fas fa-pencil-alt"></i>
                </span>
                <span>Edit</span>
              </button>
              <button class="button is-small is-delete-representative-button" type="button">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <div class="modal is-add-representative-modal">
    <div class="modal-background"></div>
    <form>
      <div class="modal-card">
        <header class="modal-card-head">
          <h3 class="modal-card-title">Add a Representative</h3>
          <button class="delete is-cancel-button" aria-label="close" type="button"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label" for="addOrganizationRepresentative--representativeName">Representative Name</label>
            <div class="control">
              <input class="input" id="addOrganizationRepresentative--representativeName" name="representativeName" type="text" value="" maxlength="100" autocomplete="off" required />
            </div>
          </div>
          <div class="field">
            <label class="label" for="addOrganizationRepresentative--representativeTitle">Representative Title</label>
            <div class="control">
              <input class="input" id="addOrganizationRepresentative--representativeTitle" name="representativeTitle" type="text" value="" maxlength="100" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <label class="label" for="addOrganizationRepresentative--representativeAddress1">Representative Address</label>
            <div class="control">
              <input class="input" id="addOrganizationRepresentative--representativeAddress1" name="representativeAddress1" type="text" value="" placeholder="Line 1" maxlength="50" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" id="addOrganizationRepresentative--representativeAddress2" name="representativeAddress2" type="text" value="" placeholder="Line 2" maxlength="50" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <label class="label" for="addOrganizationRepresentative--representativeCity">City</label>
            <div class="control">
              <input class="input" id="addOrganizationRepresentative--representativeCity" name="representativeCity" type="text" value="<%= config.defaults.city %>" maxlength="20" />
            </div>
          </div>
          <div class="field">
            <label class="label" for="addOrganizationRepresentative--representativeProvince">Province</label>
            <div class="control">
              <input class="input" id="addOrganizationRepresentative--representativeProvince" name="representativeProvince" type="text" value="<%= config.defaults.province %>" maxlength="2" />
            </div>
          </div>
          <div class="field">
            <label class="label" for="addOrganizationRepresentative--representativePostalCode">Postal Code</label>
            <div class="control">
              <input class="input" id="addOrganizationRepresentative--representativePostalCode" name="representativePostalCode" type="text" value="" minlength="5" maxlength="6" autocomplete="off" />
            </div>
          </div>
        </section>
        <footer class="modal-card-foot justify-right">
          <button class="button is-cancel-button" type="button">Cancel</button>
          <button class="button is-success" type="submit">Add Representative</button>
        </footer>
      </div>
    </form>
  </div>

  <div class="modal is-edit-representative-modal">
    <div class="modal-background"></div>
    <form>
      <div class="modal-card">
        <header class="modal-card-head">
          <h3 class="modal-card-title">Edit a Representative</h3>
          <button class="delete is-cancel-button" aria-label="close" type="button"></button>
        </header>
        <section class="modal-card-body">
          <input id="editOrganizationRepresentative--representativeIndex" name="representativeIndex" type="hidden" value="" />
          <input id="editOrganizationRepresentative--isDefault" name="isDefault" type="hidden" value="" />
          <div class="field">
            <label class="label" for="editOrganizationRepresentative--representativeName">Representative Name</label>
            <div class="control">
              <input class="input" id="editOrganizationRepresentative--representativeName" name="representativeName" type="text" value="" maxlength="100" autocomplete="off" required />
            </div>
          </div>
          <div class="field">
            <label class="label" for="editOrganizationRepresentative--representativeTitle">Representative Title</label>
            <div class="control">
              <input class="input" id="editOrganizationRepresentative--representativeTitle" name="representativeTitle" type="text" value="" maxlength="100" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <label class="label" for="editOrganizationRepresentative--representativeAddress1">Representative Address</label>
            <div class="control">
              <input class="input" id="editOrganizationRepresentative--representativeAddress1" name="representativeAddress1" type="text" value="" placeholder="Line 1" maxlength="50" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" id="editOrganizationRepresentative--representativeAddress2" name="representativeAddress2" type="text" value="" placeholder="Line 2" maxlength="50" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <label class="label" for="editOrganizationRepresentative--representativeCity">City</label>
            <div class="control">
              <input class="input" id="editOrganizationRepresentative--representativeCity" name="representativeCity" type="text" value="" maxlength="20" />
            </div>
          </div>
          <div class="field">
            <label class="label" for="editOrganizationRepresentative--representativeProvince">Province</label>
            <div class="control">
              <input class="input" id="editOrganizationRepresentative--representativeProvince" name="representativeProvince" type="text" value="" maxlength="2" />
            </div>
          </div>
          <div class="field">
            <label class="label" for="editOrganizationRepresentative--representativePostalCode">Postal Code</label>
            <div class="control">
              <input class="input" id="editOrganizationRepresentative--representativePostalCode" name="representativePostalCode" type="text" value="" minlength="5" maxlength="6" autocomplete="off" />
            </div>
          </div>
        </section>
        <footer class="modal-card-foot justify-right">
          <button class="button is-cancel-button" type="button">Cancel</button>
          <button class="button is-success" type="submit">Update Representative</button>
        </footer>
      </div>
    </form>
  </div>


<% } %>

<%- include('_footerA'); -%>

<script src="/javascripts/organization-edit.min.js"></script>

<%- include('_footerB'); -%>
