<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <div class="column is-3 is-hidden-print has-background-white-bis">
    <aside class="menu">
      <p class="menu-label">
        Reports
      </p>
      <ul class="menu-list" id="tabs--reports" role="tablist">
        <li role="presentation">
          <a class="is-active" id="tab--organizationReports" role="tab" href="#tabContent--organizationReports" aria-selected="true">
            <span class="icon">
              <i class="fas fa-users" aria-hidden="true"></i>
            </span>
            Organizations
          </a>
        </li>
        <li role="presentation">
          <a id="tab--licenceReports" role="tab" href="#tabContent--licenceReports">
            <span class="icon">
              <i class="fas fa-certificate" aria-hidden="true"></i>
            </span>
            Licences
          </a>
        </li>
        <li role="presentation">
          <a id="tab--transactionReports" role="tab" href="#tabContent--transactionReports">
            <span class="icon">
              <i class="fas fa-dollar-sign" aria-hidden="true"></i>
            </span>
            Transactions
          </a>
        </li>
        <li role="presentation">
          <a id="tab--eventReports" role="tab" href="#tabContent--eventReports">
            <span class="icon">
              <i class="fas fa-calendar" aria-hidden="true"></i>
            </span>
            Events
          </a>
        </li>
        <li role="presentation">
          <a id="tab--locationReports" role="tab" href="#tabContent--locationReports">
            <span class="icon">
              <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
            </span>
            Locations
          </a>
        </li>
      </ul>
    </aside>
    <div class="message is-info mt-3">
      <p class="message-body is-size-7">
        Note that more export options are available when viewing individual records.
      </p>
    </div>
  </div>
  <div class="column">

    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">
          <span class="icon is-small"><i class="fas fa-file" aria-hidden="true"></i></span>
          <span>Reports</span>
        </a></li>
      </ul>
    </nav>

    <div class="tab-container">
      <div class="tab-content is-active" id="tabContent--organizationReports" role="tabpanel" aria-labelledby="tab--organizationReports">
        <h1 class="title is-1">
          Organization Reports
        </h1>
        <div class="columns">
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Organizations</h2>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/organizations-withDefaultRepresentatives" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Organization List with Default Representatives</h3>
                  <p>
                    Includes all active organizations eligible for new licences and their current default representatives.
                    Can be used for creating mail merges.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/organizations-ineligible" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Organizations Ineligible for New Licences</h3>
                  <p>
                    Includes all organizations that have been marked as ineligible for new licences, yet are still active in the system.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/organizations-deleted" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Deleted Organization List</h3>
                  <p>
                    Includes all organizations that have been deleted <em>but are still recoverable</em>.
                  </p>
                </div>
              </a>
            </div>
            <div class="panel">
              <h2 class="panel-heading">Formatted Reports</h2>
              <div class="panel-block is-block">
                <div class="message is-info">
                  <p class="message-body is-size-7">
                    Versions of these exports filtered by organization
                    are available from the organization views.
                  </p>
                </div>
              </div>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/representatives-formatted" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Representative List</h3>
                  <p>
                    A full representative list for all active organizations.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/remarks-formatted" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Remarks List</h3>
                  <p>
                    A full list of remarks for all active organizations.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/reminders-formatted" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Reminders List</h3>
                  <p>
                    A full list of reminders for all active organizations.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/bankRecordsFlat-formatted" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Bank Records List</h3>
                  <p>
                    A full list of bank records for all active organizations.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Table Exports</h2>
              <div class="panel-block">
                <div class="message is-info">
                  <p class="message-body is-size-7">
                    Note that table exports are full, unfiltered, and unformatted exports.
                    They may contain deleted records that have not been fully purged.
                  </p>
                </div>
              </div>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/organizations-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Organization Table</h3>
                  <p>
                    All the data in the Organizations table unfiltered.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/representatives-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Representatives Table</h3>
                  <p>
                    All the data in the OrganizationRepresentatives table unfiltered.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/remarks-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Remarks Table</h3>
                  <p>
                    All the data in the OrganizationRemarks table unfiltered.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/reminders-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Reminders Table</h3>
                  <p>
                    All the data in the OrganizationReminders table unfiltered.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/bankRecords-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Bank Records Table</h3>
                  <p>
                    All the data in the OrganizationBankRecords table unfiltered.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="tabContent--licenceReports" role="tabpanel" aria-labelledby="tab--licenceReports">
        <h1 class="title is-1">
          Licence Reports
        </h1>
        <div class="columns">
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Licences</h2>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/licences-formatted" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Lottery Licence List</h3>
                  <p>
                    All active lottery licences with organization and location details.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/licences-notIssued" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Licences Not Issued</h3>
                  <p>
                    All licences in the system that have not been issued.
                  </p>
                </div>
              </a>
            </div>
            <div class="panel">
              <h2 class="panel-heading">Formatted Reports</h2>
              <div class="panel-block is-block">
                <div class="message is-info">
                  <p class="message-body is-size-7">
                    Versions of these exports filtered by licence
                    are available from the licence views.
                  </p>
                </div>
              </div>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/amendments-formatted" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Licence Amendments Log</h3>
                  <p>
                    All amendments on all active lottery licences.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/ticketTypes-formatted" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Licence Ticket Types List</h3>
                  <p>
                    All ticket types on all active lottery licences.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Interactive Reports</h2>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/licences/licenceTypes">
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-desktop" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">Page</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Licence Type Summary Report</h3>
                  <p>
                    An interactive report of licences over a time range,
                    summarized by count, total value, and total licence fee.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/licences/activeSummary">
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-desktop" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">Page</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Active Licence Summary Report</h3>
                  <p>
                    An interactive report of licences active over a given time range.
                  </p>
                </div>
              </a>
            </div>
            <div class="panel">
              <h2 class="panel-heading">Table Exports</h2>
              <div class="panel-block">
                <div class="message is-info">
                  <p class="message-body is-size-7">
                    Note that table exports are full, unfiltered, and unformatted exports.
                    They may contain deleted records that have not been fully purged.
                  </p>
                </div>
              </div>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/licences-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Licences Table</h3>
                  <p>
                    All the data from the LotteryLicences table unfiltered.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/amendments-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Amendments Table</h3>
                  <p>
                    All the data from the LotteryLicenceAmendments table unfiltered.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/ticketTypes-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Ticket Types Table</h3>
                  <p>
                    All the data from the LotteryLicenceTicketTypes table unfiltered.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="tabContent--transactionReports" role="tabpanel" aria-labelledby="tab--transactionReports">
        <h1 class="title is-1">
          Transaction Reports
        </h1>
        <div class="columns">
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Transactions</h2>
              <div class="panel-block align-items-flex-start">
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Transactions by Date</h3>
                  <p>
                    All transactions occurring on a selected date.
                  </p>
                  <form action="<%= urlPrefix %>/reports/transactions-byTransactionDate" method="get">
                    <div class="field has-addons mt-2">
                      <div class="control is-expanded has-icons-left" data-tooltip="Transaction Date">
                        <input class="input" name="transactionDate" type="date" value="<%= todayDateString %>" required />
                        <span class="icon is-left">
                          <i class="fas fa-calendar" aria-hidden="true"></i>
                        </span>
                      </div>
                      <div class="control">
                        <button class="button is-info" type="submit">
                          Export
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Table Exports</h2>
              <div class="panel-block">
                <div class="message is-info">
                  <p class="message-body is-size-7">
                    Note that table exports are full, unfiltered, and unformatted exports.
                    They may contain deleted records that have not been fully purged.
                  </p>
                </div>
              </div>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/transactions-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Transactions Table</h3>
                  <p>
                    All the data from the LotteryLicenceTransactions table unfiltered.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="tabContent--eventReports" role="tabpanel" aria-labelledby="tab--eventReports">
        <h1 class="title is-1">
          Lottery Event Reports
        </h1>
        <div class="columns">
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Events</h2>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/events-upcoming" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Upcoming Events</h3>
                  <p>
                    All events scheduled for today or in the future.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/events-pastUnreported" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Past Events that are Unreported</h3>
                  <p>
                    Events that are in the past, but do not have a recorded report date.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Interactive Reports</h2>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/events/outstanding">
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-desktop" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">Page</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Outstanding Events Report</h3>
                  <p>
                    An interactive report of events with outstanding fiscal information.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/events/financials">
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-desktop" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">Page</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Event Financial Summary Report</h3>
                  <p>
                    An interactive report summarizing event financials by licence type.
                  </p>
                </div>
              </a>
            </div>
            <div class="panel">
              <h2 class="panel-heading">Table Exports</h2>
              <div class="panel-block">
                <div class="message is-info">
                  <p class="message-body is-size-7">
                    Note that table exports are full, unfiltered, and unformatted exports.
                    They may contain deleted records that have not been fully purged.
                  </p>
                </div>
              </div>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/events-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Events Table</h3>
                  <p>
                    All the data from the LotteryEvents table unfiltered.
                  </p>
                  <p class="is-size-7 is-italic">
                    Includes deleted records that have not been fully purged.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="tabContent--locationReports" role="tabpanel" aria-labelledby="tab--locationReports">
        <h1 class="title is-1">
          Location Reports
        </h1>
        <div class="columns">
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Locations</h2>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/locations-unused" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Unused Location List</h3>
                  <p>
                    Includes all locations that have not been used in the past three years.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/locations-manufacturers" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Active Manufacturers</h3>
                  <p>
                    Includes all locations marked as manufacturers.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/locations-distributors" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Active Distributors</h3>
                  <p>
                    Includes all locations marked as distributors.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Table Exports</h2>
              <div class="panel-block">
                <div class="message is-info">
                  <p class="message-body is-size-7">
                    Note that table exports are full, unfiltered, and unformatted exports.
                    They may contain deleted records that have not been fully purged.
                  </p>
                </div>
              </div>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/locations-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Full Locations Table</h3>
                  <p>
                    All the data from the Locations table unfiltered.
                  </p>
                  <p class="is-size-7 is-italic">
                    Includes deleted records that have not been fully purged.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/report-search.min.js"></script>

<%- include('_footerB'); -%>
